body{
    font-family: 'Nanum Gothic', sans-serif;
}

/* Multiple-Use Classes */

h1,h2,h3,h4,h5,p{
    margin:0;
    padding:0;
}

.uppercase{
    text-transform: uppercase;
}

.letter-spacing{
    letter-spacing: 3px;
}

.inline-block{
    display: inline-block;
}

/* NAVBAR START */

.navbarbrandCustImage{
    position:relative;
    padding: 0;
    margin: 0;
}

.navbarbrandCustText{
    position: absolute;
    margin-top: 0.625rem;
}

.navbarbrandCustText:hover{
    position: absolute;
    color:transparent;
}

.name-nav-item{
    font-size: 15px;
    text-shadow: none; 
    color: #000000;
}

.photo-nav-item{
    font-size: 10px;
    color: #F3E0DC;
}

.NavBarTog-cust{
    margin-top: 0.625rem;
}

.navbar-nav .nav-item .nav-link{
    color:#F3E0DC;
}

.navbar-nav .nav-item .nav-link:hover{
    color:#5C2018;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* NAVBAR FINISH */

.AboutCol{
    padding: 0;
}

.AboutTitle{
    font-style: italic;
    padding: 0;
    margin-top: 2rem;
    margin-left: 0.25rem;
}

.AboutBlurb{
    padding: 1rem;
    margin: 0;
    text-justify: inter-word;
}

.ProfPhoto{
    padding: 4rem 1.25rem 4rem 1.25rem;
}

/* CAROUSEL START */

.CarouselCust{
    margin:auto;
    width:75%;
    height:75%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/* CAROUSEL FINISH */
/* FOOTER START */

.FooterCust{
    position:absolute;
    background-color: #BC4639;
    color:#F3E0DC;
}

/* Footer Form Start */

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.EmailForm{
    position: absolute;
}

.EmailForm-Title{
    font-size: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.4rem;
}

.EmailForm-Input{
    font-family: "Lobster Two", sans-serif;
    padding-bottom: 0.625rem;
    padding-left: 0;

}

.EmailBtnCust{
    background-color: #D4A59A;
    border-color: #D4A59A;
    color:#5C2018;
}

.EmailBtnCust:hover{
    background-color: #4285f4;
    border-color: #4285f4;
    color: #FAFAFA;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

/* Footer Form Finish */

/* Footer Links Start */

.ExternalLinks{
    padding: 0;
    margin: 0;
}

.ExternalLinks-Title{
    padding-top: 0.625rem;
    padding-right: 0.4rem;
    padding-bottom: 0.625rem;
}

.ExternalLinksList{
    padding-left: 0;
    padding-bottom: 0.625rem;
    margin-left: 0;
}

.ExternalLinksList li a{
    padding-right: 1.5625rem;
    color:#D4A59A;
}

.ExternalLinksList li a:hover{
    color: #4285F4;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

/* Footer Links Finish */
/* FOOTER FINISH */
